#container {
	width: 900px;
	height: 1460px;
	margin: 20px auto;
	background-color: rgb(100, 100, 100);
	position: relative;
}

#lateral {
	float: left;
	width: 290px;
	height: 1874px;
	margin-left: 10px;
}

#estilo_cima {
	width: 290px;
	height: 150px;
	margin-bottom: 20px;
	background-color: rgb(50, 50, 50);

}

#estilo_baixo {
	width: 273px;
	height: 1190px;
	border: 1px solid black;
	background-color: rgb(50, 50, 50);
	padding: 90px 5px 0 10px;

}

#perfil {
	text-align: center;
	position: absolute;
	top: 85px;
	left: 80px;
}

#perfil img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
	border: 1px solid black;
}

#perfil :hover {
	transform: scale(1.3);	
	cursor: pointer;
}


#conteudos {
	float: right;
	width: 590px;
	padding-top: 10px;

}

#info {
	text-align: center;
}

#info h2 {
	padding: 0;
	margin: 0;
}

h2 {
	color: orange;
}

h4 {
	color: white;
}

p {
	text-align: justify;
	padding-right: 5px;
	color: white;
}

#contato {
	padding-top: 450px;
	color: white;
}

#contato p {
	padding-left: 50px;
	padding-top: 10px
}
svg {
	width: 20px;
	display: inline;
	padding-top: 20px;
	margin-right: 20px;
	margin-left: 20px
}

h3 {
	color: orange;
}

.conteudo {
	width: 100%;
	height: 100px;
}

#conteudo li {
	color: white;

	
}

.coluna {
	display: inline-block;
	width: 150px;
}

h5 {
	color: darkgray;
}

.clear {
	clear: both;
}

#digital_skills img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid black;
	margin-right: 15px ;
	background-color: white;
	object-fit: cover;
}

.project {
	display: inline-block;
	color: white;
}

#archivements {
	color: white;
}

.experiencia {
	color: white;
	text-align: ;
	
}

.experiencia ul {
	padding: 10px;
	list-style: disc;
}

#education {
	text-align: center;
}

#education h3 {
	text-align: left;
}

.educação {
	display: inline-block;
	text-align: center;
}

.titulo p  {
	text-align: center;
	padding: 0;
	margin: 0;
}

.legend p {
	text-align: center;
	padding: 0;
	margin: 0;
}

.linguagens li{
	display: inline-block;
	color: white;
	padding-right: 50px;
	text-align: left;
}

#interests svg {
	padding: 0;
	color: white;
}